<form class="form-inline">

  <div class="form-group">
    <label class="sr-only" >Username</label>
    <input type="text" class="form-control" ng-model="user" placeholder="Enter Name">
  </div>

  <div class="form-group">
    <label class="sr-only" >Password</label>
    <input type="text" class="form-control" ng-model="pwd" placeholder="Price">
  </div>

  <button type="submit" class="btn btn-default" ng-click="add(user,pwd)">Add</button>

</form>

<table class="table table-striped">
  <tr>
    <thead>
      <th>No.</th>
      <th>Name</th>
      <th>Price</th>
      <th>Tools</th>
    </thead>
  </tr>
  <tr ng-repeat="wish in wishs">
    <td>{{$index+1}}</td>
    <td><input type="text" ng-model="wish.name_wish"  ng-blur="edit(wish)"/></td>
    <td><input type="text" ng-model="wish.price_wish" ng-blur="edit(wish)"/></td>
    <td>
      <button type="button" class="btn btn-danger" ng-click="del(wish._id)">Delete</button>        
    </td>
  </tr>
</table>